body {
  background-color: #1c1c1c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 450px;
}

.slider-container {
  width: 100%;
}

#range {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  top: 50px;
  opacity: 0;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 50px;
  background: #ccc;
  cursor: pointer;
}
#range::-moz-range-thumb {
  width: 40px;
  height: 50px;
  background: #ccc;
  cursor: pointer;
}

#value {
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.button {
  background-color: #4CAFFF;
  
  font-family: opensans;
  text-align: center;
  font-size: 25px;
  padding: 10px 0px;
  color: white;

  outline-style:none;
  border:none;
  cursor:pointer;

  /*position:fixed;*/
  width:10%;
  /*bottom : 10%;
  left : 25%;*/

  /* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Opera and Firefox */

  /* 
  Prevent double-tapping on button from zooming page on mobile
  https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
  */
  touch-action: manipulation; 
}
